<!DOCTYPE html>
<html lang="en">
<head>
<title>尚展旅游</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--客服引入-->
<link rel="stylesheet" href="../css/style.css">

<link href="../ye/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap-css -->

<link href="../ye/css/owl.carousel.css" rel="stylesheet"><!-- Owl-carousel-CSS -->

<link href="../ye/css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- pop-up css -->

<link href="../ye/css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- banner css -->
<link rel="stylesheet" href="../ye/css/poposlides.css" type="text/css" media="all" />
<!-- //banner css -->

<!-- font-awesome-icons -->
<link rel="stylesheet" href="../ye/css/font-awesome.min.css" />
<!-- //font-awesome-icons -->

<!-- google fonts -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->



	<script src="../lun/js/jquery1111.min.js" type="text/javascript"></script>
	<!-- For favicon png -->
	<!--font-awesome.min.css-->
	<!--<link rel="stylesheet" href="assets/css/font-awesome.min.css">-->
	<!--linear icon css-->
	<link rel="stylesheet" href="assets/css/linearicons.css">
	<!--animate.css-->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!--flaticon.css-->
	<link rel="stylesheet" href="assets/css/flaticon.css">
	<!--slick.css-->
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/slick-theme.css">
	<!--bootstrap.min.css-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- bootsnav -->
	<link rel="stylesheet" href="assets/css/bootsnav.css" >
	<!--style.css-->
	<link rel="stylesheet" href="assets/css/style.css">
	<!--responsive.css-->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>
	
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<script src="../assets/js/jquery.js"></script>
<!--modernizr.min.js-->
<script src="../assets/js/modernizr.min.js"></script>
<!--bootstrap.min.js-->
<script src="../assets/js/bootstrap.min.js"></script>
<!-- bootsnav js -->
<script src="../assets/js/bootsnav.js"></script>
<!--feather.min.js-->
<script  src="../assets/js/feather.min.js"></script>
<script src="../assets/js/jquery.counterup.min.js"></script>
<script src="../assets/js/waypoints.min.js"></script>
<!--slick.min.js-->
<script src="../assets/js/slick.min.js"></script>
<script src="../assets/js/jquery.easing.min.js"></script>
<!--Custom JS-->
<script src="../assets/js/custom.js"></script>



<!--客服div包住页面-->
<div style="height:10000px;">
	<div class="demo-inner-content" id="home">
		<div class="main_agileits">
			<div class="header-w3layouts">
				<!-- Navigation -->
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="navbar-header page-scroll">
							<h1><a class="navbar-brand">尚展旅行</a></h1>
						</div>
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav navbar-right ">
								<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
								<li><a  href="../bbb">攻略</a></li>
								<li><a  href="../hu">签证</a></li>
								<li><a  href="../fuwu">服务保证</a></li>
								<li><a  href="../toGeren">个人中心</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<!-- banner info-->
			<div class="w3-banner-head-info">
				<div class="container">
					<div class="banner-text">
						<span class="fa fa-plane" aria-hidden="true"></span>
						<h2 class="editContent">流转的时光</h2>
						<p>总有一天，我会丢下我所有的疲倦和理想，带着我的相机和电脑，远离繁华，走向空旷</p>
					</div>
				</div>
			</div>
			<!-- //banner-info-->
			<div class="slides-box">
				<ul class="slides">
					<li style="background: url(../ye/images/s1.jpg) no-repeat;background-size:cover;"></li>
					<li style="background: url(../ye/images/s2.jpg) no-repeat;background-size:cover;"></li>
					<li style="background: url(../ye/images/s3.jpg) no-repeat;background-size:cover;"></li>
					<li style="background: url(../ye/images/s4.jpg) no-repeat;background-size:cover;"></li>
					<li style="background: url(../ye/images/s5.jpg) no-repeat;background-size:cover;"></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- about -->
	<div class="w3ls-section w3-about" id="about">
		<div class="container">
			<div class="w3ls-title">
				<h3 class="title">关于我们</h3>
			</div>
			<div class="col-md-4 about-top">
				<h4>欢迎旅行游客</h4>
				<h5>旅游者</h5>
				<p>当你见过了世界上最美丽的风景，你的内心会被洗成一片空白，自由而宁静，因为它抚平了心底的不安;当你尝到了极品的美食，会得到最大的满足，因为它填补了你的空虚。你在无垠的海边第一次听到了自己心跳的声音，你在潮湿的风中感受到了平稳的呼吸，多好听啊，一遍一遍的……你突然明白自己还活着，并且如此真实的活着--这，就是旅行的意义。</p>
				<a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">阅读更多</a>
			</div>
			<div class="col-md-4 middle-img">
				<img src="../ye/images/package1.jpg" alt="about image" />
			</div>
			<div class="col-md-4 about-top last">
				<h4>旅行最好的习惯</h4>
				<h5>旅游者</h5>
				<!-- //Modal5 -->
				<p>找个舒适的小店,挑张雅致的明信片,送给中意的Ta,背面写上:某年某月,下午某时,天气晴,我在某地,,想念你.<br>生活是一段奇妙的旅行，就在那一去无返的火车上。与那些新人和旧人们共同经历吧!也许这就是一个人无法抗拒的命运，有你、有我、也有他。</p>
			</div>
	</div>
	</div>
	<!-- //about -->

	<!-- popular packages -->
	<div class="packages" id="packages">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="title">热门套餐</h3>
			</div>
			<section id="explore" class="explore">
				<div class="container">
					<!--showid位置-->
					<span id="showId"></span>
				</div>
			</section>
		</div>
	</div>


	<div class="agile_testimonials" id="testimonials">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="title">感言</h3>
			</div>
			<div class="agile_wthree_inner_grids">
				<div class="test-agile_main_section">
					<div id="owl-demo2" class="owl-carousel">
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="../ye/images/1.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>幸福的小浩</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">带上心灵去旅行，以平和的心态看待一切，文、画、音，看似耳目所为，其实是内心世界的感受。可以以心感悟，以此沉淀，足矣；耳听佳音，目极美好，已是福音；携一勺花之语，摘一曲花之歌，让心释然，已是欣慰。</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="../ye/images/2.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>自由的小浩</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">我要准备好行李启程了，谢谢关心我的家人和朋友，为我祈祷平安就好。我的旅行，会有你们的故事陪伴，所以我不会孤单。放心吧!</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="../ye/images/3.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>不正经的飞猪</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">我喜欢旅游，喜欢离开自己过腻歪的城市，到一个新的环境去欣赏、去看、去听，每次旅行前经常沉浸在寻找攻略、游记、逃票等各种文章之中，我知道按攻略去旅行的人往往玩得过于按步就班，但是至少可以为自己的荷包省钱可以支些招，这点还是很现实的。</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!-- js -->
	<script type="text/javascript" src="../ye/js/jquery-2.1.4.min.js"></script>
	<!-- //js -->

	<!-- Stats-Number-Scroller-Animation-JavaScript -->
	<script src="../ye/js/waypoints.min.js"></script>
	<script src="../ye/js/counterup.min.js"></script>
	<!-- for banner js file-->
	<script src="../ye/js/poposlides.js"></script>
	<script>
		$(".slides").poposlides();
	</script>
	<script src="../ye/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<script src="../ye/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="../ye/js/move-top.js"></script>
	<script type="text/javascript" src="../ye/js/easing.js"></script>
	<script src="../ye/js/scrolling-nav.js"></script>
	<script src="../ye/js/bootstrap.js"></script>

</div>
<!--客服 states-->
<div class="suspension">
	<div class="suspension-box">
		<a href="#" class="a a-service ">
			<i class="i"></i></a>
		<a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>

		<div class="d d-service">
			<i class="arrow"></i>
			<div class="inner-box">
				<div class="d-service-item clearfix">
					<a href="https://wpa.qq.com/msgrd?v=1&uin=1046406274&site=houdao.com&menu=yes" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>咨询在线客服</h3></a>
				</div>
			</div>
		</div>
		<div class="d d-service-phone">
			<i class="arrow"></i>
			<div class="inner-box">
				<div class="d-service-item clearfix">
					<span class="circle"><i class="i-tel"></i></span>
					<div class="text">
						<p>服务热线</p>
						<p class="red number">17532573105</p>
					</div>
				</div>

				<div class="d-service-intro clearfix">
					<p><i></i>功能和特性</p>
					<p><i></i>价格和优惠</p>
					<p><i></i>获取内部资料</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../kfjs/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){

		/* ----- 侧边悬浮 ---- */
		$(document).on("mouseenter", ".suspension .a", function(){
			var _this = $(this);
			var s = $(".suspension");
			var isService = _this.hasClass("a-service");
			var isServicePhone = _this.hasClass("a-service-phone");
			var isQrcode = _this.hasClass("a-qrcode");
			if(isService){ s.find(".d-service").show().siblings(".d").hide();}
			if(isServicePhone){ s.find(".d-service-phone").show().siblings(".d").hide();}
			if(isQrcode){ s.find(".d-qrcode").show().siblings(".d").hide();}
		});
		$(document).on("mouseleave", ".suspension, .suspension .a-top", function(){
			$(".suspension").find(".d").hide();
		});
		$(document).on("mouseenter", ".suspension .a-top", function(){
			$(".suspension").find(".d").hide();
		});
		$(document).on("click", ".suspension .a-top", function(){
			$("html,body").animate({scrollTop: 0});
		});
		$(window).scroll(function(){
			var st = $(document).scrollTop();
			var $top = $(".suspension .a-top");
			if(st > 400){
				$top.css({display: 'block'});
			}else{
				if ($top.is(":visible")) {
					$top.hide();
				}
			}
		});

	});
<!--客服 end-->


	function queryMinSu(){
		$.ajax({
			type:"get",
			url:"../ysq/queryList",
			success:function(data){

				var Cartable = "";
				for (i = 0; i < data.length; i++) {
					Cartable +=
							'<div class="col-md-4 col-sm-6">'+
							'<div class="single-explore-img">'+
							//房间图片
							'<img src="'+data[i].tableimg+'" alt="explore image">'+
							'</div>'+
							'<div class="single-explore-txt bg-theme-3" style="text-align: center">'+
							//房间价格
							//'<span class="explore-price">￥'+data[i].tableprice+'</span>'+
							//'</span>'+
							//名字
							'<a href="#" style="text-align: center">'+data[i].tablename+'</a>'+
							'</p>'+
							'<div class="explore-person">'+
							'<div class="row">'+
							'<div class="col-sm-2">'+

							'</div>'+
							'<div class="col-sm-10" style="text-align: center">'+
							//简介位置
							'<p style="margin-left: -50px">'+data[i].tablejieshao+'</p>'+
							'</div>'+
							'<div class="single-explore-txt bg-theme-3" style="text-align: center";>'+
							//价格
							'<h2 class="explore-price">￥'+data[i].tableprice+'</h2>'+
							'</div>'+
							'</div>'+
							'</div>'+
							'<div class="explore-open-close-part">'+
							'<div class="row">'+
							'<div class="col-sm-5">'+
							//按钮 close now
							'<button class="close-btn" onclick="window.location.href="+sss+"">了解更多</button>'+
							'</div>'+
							'</div>'+
							'</div>'+
							'</div>'+
							'</div>'+
							'</div>'
				}
				$("#showId").html(Cartable)
			}
		});
	}

	$(function () {
		queryMinSu();
	});
</script>
</body>
</html>