<!DOCTYPE html>
<html lang="en">
<head>
<title>尚展旅游</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--客服引入-->
	<link rel="stylesheet" href="../css/style.css">

<link href="../ye/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap-css -->

<link href="../ye/css/owl.carousel.css" rel="stylesheet"><!-- Owl-carousel-CSS -->

<link href="../ye/css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- pop-up css -->

<link href="../ye/css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- banner css -->
<link rel="stylesheet" href="../ye/css/poposlides.css" type="text/css" media="all" />
<!-- //banner css -->

<!-- font-awesome-icons -->
<link rel="stylesheet" href="../ye/css/font-awesome.min.css" />
<!-- //font-awesome-icons -->

<!-- google fonts -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->

</head>
	
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!--客服div包住页面-->
<div style="height:10000px;">
	<!--/main-header-->
	<div class="demo-inner-content" id="home">
		<div class="main_agileits">
			<!--/banner-info-->
			<!-- header -->
			<div class="header-w3layouts">
				<!-- Navigation -->
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="navbar-header page-scroll">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">尚展</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1><a class="navbar-brand" href="index.html">尚展</a></h1>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav navbar-right cl-effect-15">
								<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
								<li><a  href="../bbb">攻略</a></li>
								<li><a  href="../hu">签证</a></li>
								<li><a  href="../fuwu">服务保证</a></li>
								<li><a  href="../toLogin">登录</a></li>
								<li><a  href="../toRegister">注册</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container -->
				</nav>
			</div>
			<!-- //header -->

			<!-- banner info-->
			<div class="w3-banner-head-info">
				<div class="container">
					<div class="banner-text">
						<span class="fa fa-plane" aria-hidden="true"></span>
						<h2 class="editContent">流转的时光</h2>
						<p>总有一天，我会丢下我所有的疲倦和理想，带着我的相机和电脑，远离繁华，走向空旷</p>
						<div class="book-form">
							<form action="#" method="post">
								<div class="col-md-3 form-time-w3layouts editContent">
									<label class="editContent"><span class="fa fa-user" aria-hidden="true"></span>旅客姓名</label>
									<input type="text" placeholder="姓名" required="">
								</div>
								<div class="col-md-3 form-date-w3-agileits editContent">
									<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span>旅行地点</label>
									<select class="form-control">
										<option>英国</option>
										<option>法国</option>
										<option>澳大利亚</option>
										<option>迪拜</option>
										<option>德国</option>
									</select>
								</div>
								<div class="col-md-2 form-left-agileits-w3layouts editContent">
									<label class="editContent"><span class="fa fa-bus" aria-hidden="true"></span>旅途中</label>
									<div class="agileits_w3layouts_main_gridl">
										<input class="date has Datepicker" id="datepicker" name="Text" type="text" value="开始日期" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '21/11/2017';}" required="">
									</div>
								</div>
								<div class="col-md-2 form-left-agileits-w3layouts editContent">
									<label class="editContent"><span class="fa fa-bus" aria-hidden="true"></span>出去一趟</label>
									<div class="agileits_w3layouts_main_gridl">
										<input class="date has Datepicker" id="datepicker1" name="Text" type="text" value="结束日期" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '21/11/2017';}" required="">
									</div>
								</div>
								<div class="col-md-2 form-left-agileits-submit editContent">
									<input type="submit" value="go">
								</div>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- //banner-info-->
			<div class="slides-box">
				<ul class="slides">
					<li style="background: url(../ye/images/s1.jpg) no-repeat;background-size:cover;"></li>
					<li style="background: url(../ye/images/s2.jpg) no-repeat;background-size:cover;"></li>
					<li style="background: url(../ye/images/s3.jpg) no-repeat;background-size:cover;"></li>
					<li style="background: url(../ye/images/s4.jpg) no-repeat;background-size:cover;"></li>
					<li style="background: url(../ye/images/s5.jpg) no-repeat;background-size:cover;"></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- about -->
	<div class="w3ls-section w3-about" id="about">
		<div class="container">
			<div class="w3ls-title">
				<h3 class="title">关于我们</h3>
			</div>
			<div class="col-md-4 about-top">
				<h4>欢迎旅行游客</h4>
				<h5>旅游者</h5>
				<p>当你见过了世界上最美丽的风景，你的内心会被洗成一片空白，自由而宁静，因为它抚平了心底的不安;当你尝到了极品的美食，会得到最大的满足，因为它填补了你的空虚。你在无垠的海边第一次听到了自己心跳的声音，你在潮湿的风中感受到了平稳的呼吸，多好听啊，一遍一遍的……你突然明白自己还活着，并且如此真实的活着--这，就是旅行的意义。</p>
				<a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">阅读更多</a>
			</div>
			<div class="col-md-4 middle-img">
				<img src="../ye/images/package1.jpg" alt="about image" />
			</div>
			<div class="col-md-4 about-top last">
				<h4>旅行最好的习惯</h4>
				<h5>旅游者</h5>
				<!-- //Modal5 -->
				<p>找个舒适的小店,挑张雅致的明信片,送给中意的Ta,背面写上:某年某月,下午某时,天气晴,我在某地,,想念你.<br>生活是一段奇妙的旅行，就在那一去无返的火车上。与那些新人和旧人们共同经历吧!也许这就是一个人无法抗拒的命运，有你、有我、也有他。</p>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- popular packages -->
	<div class="packages" id="packages">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="title">热门套餐</h3>
			</div>
			<div class="packages_grids">
				<div class="packages_grid1">
					<div class="col-md-3 package1">
						<img src="../ye/images/package1.jpg" alt="package1" />
						<h4>伦敦假日之旅</h4>
						<h5>900$</h5>
						<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">现在预订</a>
					</div>
					<div class="col-md-3 package1">
						<img src="../ye/images/package2.jpg" alt="package1" />
						<h4>巴黎埃菲尔铁塔</h4>
						<h5>290$</h5>
						<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">现在预订</a>
					</div>
					<div class="col-md-6 package1">
						<img src="../ye/images/package3.jpg" alt="package1" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="packages_grid2">
					<div class="col-md-6 package1">
						<img src="../ye/images/package6.jpg" alt="package1" />
					</div>
					<div class="col-md-3 package1">
						<img src="../ye/images/package4.jpg" alt="package1" />
						<h4>泰国夏日海滩</h4>
						<h5>850$</h5>
						<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">现在预订</a>
					</div>
					<div class="col-md-3 package1">
						<img src="../ye/images/package5.jpg" alt="package1" />
						<h4>日本帝国博物馆</h4>
						<h5>210$</h5>
						<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll">现在预订</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="agile_testimonials" id="testimonials">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="title">感言</h3>
			</div>
			<div class="agile_wthree_inner_grids">
				<div class="test-agile_main_section">
					<div id="owl-demo2" class="owl-carousel">
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="../ye/images/1.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>幸福的小浩</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">带上心灵去旅行，以平和的心态看待一切，文、画、音，看似耳目所为，其实是内心世界的感受。可以以心感悟，以此沉淀，足矣；耳听佳音，目极美好，已是福音；携一勺花之语，摘一曲花之歌，让心释然，已是欣慰。</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="../ye/images/2.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>自由的小浩</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">我要准备好行李启程了，谢谢关心我的家人和朋友，为我祈祷平安就好。我的旅行，会有你们的故事陪伴，所以我不会孤单。放心吧!</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="../ye/images/3.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>不正经的飞猪</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">我喜欢旅游，喜欢离开自己过腻歪的城市，到一个新的环境去欣赏、去看、去听，每次旅行前经常沉浸在寻找攻略、游记、逃票等各种文章之中，我知道按攻略去旅行的人往往玩得过于按步就班，但是至少可以为自己的荷包省钱可以支些招，这点还是很现实的。</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!-- js -->
	<script type="text/javascript" src="../ye/js/jquery-2.1.4.min.js"></script>
	<!-- //js -->

	<!-- Stats-Number-Scroller-Animation-JavaScript -->
	<script src="../ye/js/waypoints.min.js"></script>
	<script src="../ye/js/counterup.min.js"></script>
	<!--<script>
		jQuery(document).ready(function( $ ) {
			$('.counter').counterUp({
				delay: 10,
				time: 1000
			});
		});
	</script>-->
	<!-- //Stats-Number-Scroller-Animation-JavaScript -->

	<!-- Calendar -->
	<link rel="stylesheet" href="../ye/css/jquery-ui.css" />
	<script src="../ye/js/jquery-ui.js"></script>
	<script>
		$(function() {
			$( "#datepicker,#datepicker1" ).datepicker();
		});
	</script>
	<!-- //Calendar -->

	<!-- for banner js file-->
	<script src="../ye/js/poposlides.js"></script>
	<script>
		$(".slides").poposlides();
	</script>
	<!-- //for banner js file-->

	<!-- pop-up-box -->
	<script src="../ye/js/jquery.magnific-popup.js" type="text/javascript"></script>
<!--	<script>
		$(document).ready(function() {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});
	</script>-->
	<!--//pop-up-box -->

	<!-- requried-jsfiles-for owl -->	<!-- testimonials -->
	<!--<script src="../ye/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo2").owlCarousel({
				items: 1,
				lazyLoad: false,
				autoPlay: true,
				navigation: false,
				navigationText: false,
				pagination: true,
			});
		});
	</script>-->

	<!-- start-smoth-scrolling -->
	<script src="../ye/js/SmoothScroll.min.js"></script>

	<script type="text/javascript" src="../ye/js/move-top.js"></script>
	<script type="text/javascript" src="../ye/js/easing.js"></script>
<!--	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>-->

	<!-- here stars scrolling icon -->
	<!--<script type="text/javascript">
		$(document).ready(function() {

				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};


			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>-->
	<!-- //here ends scrolling icon -->

	<!-- Scrolling Nav JavaScript -->
	<script src="../ye/js/scrolling-nav.js"></script>
	<!-- //fixed-scroll-nav-js -->

	<!-- for bootstrap working -->
	<script src="../ye/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->

</div>
<!--客服 states-->
<div class="suspension">
	<div class="suspension-box">
		<a href="#" class="a a-service ">
			<i class="i"></i></a>
		<a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>

		<div class="d d-service">
			<i class="arrow"></i>
			<div class="inner-box">
				<div class="d-service-item clearfix">
					<a href="https://wpa.qq.com/msgrd?v=1&uin=1046406274&site=houdao.com&menu=yes" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>咨询在线客服</h3></a>
				</div>
			</div>
		</div>
		<div class="d d-service-phone">
			<i class="arrow"></i>
			<div class="inner-box">
				<div class="d-service-item clearfix">
					<span class="circle"><i class="i-tel"></i></span>
					<div class="text">
						<p>服务热线</p>
						<p class="red number">17532573105</p>
					</div>
				</div>

				<div class="d-service-intro clearfix">
					<p><i></i>功能和特性</p>
					<p><i></i>价格和优惠</p>
					<p><i></i>获取内部资料</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../kfjs/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){

		/* ----- 侧边悬浮 ---- */
		$(document).on("mouseenter", ".suspension .a", function(){
			var _this = $(this);
			var s = $(".suspension");
			var isService = _this.hasClass("a-service");
			var isServicePhone = _this.hasClass("a-service-phone");
			var isQrcode = _this.hasClass("a-qrcode");
			if(isService){ s.find(".d-service").show().siblings(".d").hide();}
			if(isServicePhone){ s.find(".d-service-phone").show().siblings(".d").hide();}
			if(isQrcode){ s.find(".d-qrcode").show().siblings(".d").hide();}
		});
		$(document).on("mouseleave", ".suspension, .suspension .a-top", function(){
			$(".suspension").find(".d").hide();
		});
		$(document).on("mouseenter", ".suspension .a-top", function(){
			$(".suspension").find(".d").hide();
		});
		$(document).on("click", ".suspension .a-top", function(){
			$("html,body").animate({scrollTop: 0});
		});
		$(window).scroll(function(){
			var st = $(document).scrollTop();
			var $top = $(".suspension .a-top");
			if(st > 400){
				$top.css({display: 'block'});
			}else{
				if ($top.is(":visible")) {
					$top.hide();
				}
			}
		});

	});
<!--客服 end-->
</script>
</body>
</html>